asgiref==3.7.2
beautifulsoup4==4.12.2
Django==4.2.5
django-bootstrap4==23.2
django-environ==0.11.2
environ==1.0
importlib-metadata==6.8.0
Pillow==10.0.1
pytz==2023.3.post1
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.8.0
zipp==3.17.0
