{% extends 'base.html' %}

{% block content %}
<div>
    <div style="text-align: center; max-width: 700px;  margin: 2rem auto; justify-content: center; align-items: center ">
        <img style="xheight: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover; border: .5px solid darkgray"
             src="{{ target_project.image.url }}"
        />
        <h6>{{ target_project.created_at }}</h6>
        <h1>
            {{ target_project.title }}
        </h1>
        <h5>
            {{ target_project.subtitle }}
        </h5>
        <hr />

        <div>
            {{ target_project.articles }}
        </div>
    </div>
</div>
{% endblock %}