.resume_footer_logo {
    margin-top: 1rem
}
.resume_footer_button {
    font-size: 0.9rem
}
.resume_footer {
    text-align: center;
    margin-top: 2rem;
}
.resume_header {
    text-align: center;
    margin: 2rem 0;
}
.font {
    font-family: 'Lobster', cursive;
}

@media screen and (max-width: 500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black
}

a:hover {
    color: black;
    text-decoration: none;
}
